*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;

    /*怪异盒子*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*公用样式 开始*/
html,body{/*背景*/
    height: 100%;/*高度*/
}
body{/*背景*/
    background-size: cover;/*banner大小*/
    background-image: url(../img/banner.jpg) ;/*banner图*/
}

input:focus{/*伪类*/
    background-color: white;/*背景色*/
    box-shadow: 0px 9px 62px #adb2c7;/*投影*/

   /* -webkit-box-shadow: 0 28px 57px rgba(0,0,0,0.52);/!*苹果 谷歌*!/
    -moz-box-shadow: 0 28px 57px rgba(0,0,0,0.52);/!*火狐*!/
    -o-box-shadow: 0 28px 57px rgba(0,0,0,0.52);/!*浏览器*!/
    -ms-box-shadow: 0 28px 57px rgba(0,0,0,0.52);/!*浏览器*!/*/
}
/*公用样式 结束*/



/*头部样式 开始*/
.header{/*头部*/
    float: right;/*往右*/
    font-size: 0px;/*零间距*/
}

.heaziti{/*首页 联系*/
    color: white;/*字体颜色*/
    font-size: 14px;/*字体大小*/
}

.hjianju{/*首页*/
    margin: 0 32px 0 15px;/*字间距*/
}

.hanniu{/*English 外框*/
    width: 109px;/*宽*/
    height: 36px;/*高*/
    color: white;/*字体颜色*/
    font-size: 14px;/*字体大小*/
    outline: none;/*去除发光边框*/
    border-radius: 20px;/*圆角*/
    margin: 40px 39px 0 46px;/*外边距*/
    border: 2px solid white;/*描边*/
    background: transparent;/*取消背景色（透明）*/
}
/*头部样式 结束*/


/*选择我们文字样式 开始*/

.we{/*选择加入我们文字*/
    width: 392px;/*宽*/
    color: white;/*字体颜色*/
    font-size: 56px;/*字体大小*/
    top: 174px;/*上*/
    left: 128px;/*左*/
    position: absolute;/*绝对定位*/
}

.yingwen{/*英文字体*/
    width: 410px;/*宽*/
    color: white;/*字体颜色*/
    top: 372px;/*上*/
    left: 128px;/*左*/
    position: absolute;/*绝对定位*/

}
/*选择我们文字样式 结束*/



/*大圆角矩形样式 开始*/
#da{/*大圆角矩形*/
    width: 510px;/*宽*/
    top: 124px;/*上*/
    right: 130px;/*右*/
    bottom: 124px;/*下*/
    position: absolute;/*绝对路径*/
    border-radius: 10px;/*圆角*/
    background-color: white;/*背景色*/
    box-shadow: 0px 28px 72px #000000;/*投影*/

    -webkit-box-shadow: 0 28px 57px rgba(0,0,0,0.72);/*苹果 谷歌*/
    -moz-box-shadow: 0 28px 57px rgba(0,0,0,0.72);/*火狐*/
    -o-box-shadow: 0 28px 57px rgba(0,0,0,0.72);/*浏览器*/
    -ms-box-shadow: 0 28px 57px rgba(0,0,0,0.72);/*浏览器*/
}

.biaoti{/*创建用户&登录 高度*/
    height: 60px;/*高*/
    font-size: 0px;/*零间距*/
    text-align: center;/*水平居中*/
    border-radius:10px 10px 0 0;/*上圆角*/
    border-bottom: 1px solid #cacbd0;/*下划线*/
}

.a-1{/*创建用户*/
    color: #4f5362;/*字体颜色*/
    font-size: 16px;/*字体大小*/
    line-height: 60px;/*居中*/
    margin-right: 76px;/*右边距*/
    padding: 22px 0 17px 0;/*内边距*/
}
.a-1:hover{/*伪类 鼠标经过*/
    border-bottom: 2px solid #4f5362;/*下划线*/
}


.a-2{/*登录*/
    color: #4f5362;/*字体颜色*/
    font-size: 16px;/*字体大小*/
    line-height: 60px;/*居中*/
    padding: 22px 0 17px 0;/*内边距*/
}
.a-2:hover{/*伪类 鼠标经过*/
    border-bottom: 2px solid #4f5362;/*下划线*/
}


.liulanqi{/*三个浏览器*/
    font-size: 0px;/*零间距*/
    text-align: center;/*水平居中*/
    margin: 40px 0 36px 0;/*上下边距*/
}


.twitter{/*twitter 底层*/
    width: 131px;/*宽*/
    height: 36px;/*高*/
    display: inline-block;/*行间距*/
    border-radius: 4px;/*圆角*/
    text-align: center;/*水平居中*/
    background-color: #55acee;/*背景色*/
}

.twiicon{/*twitter icon*/
    color: white;/*icon颜色*/
    line-height: 36px;/*居中*/
    text-decoration: none;/*取消下划线*/
}

.facebook{/*facebook 底层*/
    width: 131px;/*宽*/
    height: 36px;/*高*/
    margin: 0 19px 0 19px;/*左右边距*/
    display: inline-block;/*行间距*/
    border-radius: 4px;/*圆角*/
    text-align: center;/*水平居中*/
    background-color: #3b5998;/*背景色*/
}

.Google{/*Google 底层*/
    width: 131px;/*宽*/
    height: 36px;/*高*/
    display: inline-block;/*行间距*/
    border-radius: 4px;/*圆角*/
    text-align: center;/*水平居中*/
    background-color: #df4b38;/*背景色*/
}

.orxian{/*OR+线条*/
    font-size: 0px;/*零间距*/
    margin: 0 0 36px 40px;/*下左边距*/
}

.zuoxian{/*左边线条*/
    width: 190px;/*宽*/
    display: inline-block;/*行块级*/
    border: 1px solid #dcdde0;/*线条颜色*/
}

.or{/*OR*/
    color: #a8acb9;/*字体颜色*/
    font-size: 12px;/*字体大小*/
    margin: 0 19px 0 16px;/*外边距*/
}

.yuoxian{/*左边线条*/
    width: 190px;/*宽*/
    display: inline-block;/*行块级*/
    border: 1px solid #dcdde0;/*线条颜色*/
}


.shuru{/*姓名 曾用名输入框*/
    font-size: 0px;/*零间距*/
}


.juli{/*姓名 右距离*/
    margin-right: 20px;/*右边距*/
}


.quyuyi{/*区域一*/
    height: 64px;/*高*/
    margin-left: 40px;/*左边距*/
    display: inline-block;/*行块级*/
}


.name{/*姓名*/
    color: #a8acb9;/*字体颜色*/
    font-size: 12px;/*字体大小*/
    padding-bottom: 10px;/*下边距*/
}


.fanziti{/*fancy 字体*/
    padding: 0px 5px 0 21px;/*内边距*/
}

.nameyou{/*name右边框*/
    width: 205px;/*宽*/
    height: 42px;/*高*/
    border: none;/*去除边框*/
    outline: none;/*去除发光边框*/
    display: inline-block;/*行块级*/
    background-color: #eff0f4;/*背景色*/
    border-radius: 5px 5px 5px 5px;/*上左 下左圆角*/
}

.quyuer{/*区域二*/
    display: inline-block;/*行块级*/
}

.youx{/*邮箱&输入框*/
    margin: 26px 0 0 40px;/*外边距*/
    display: inline-block;
    float: left;
}

.email{/*邮箱*/
    color: #a8acb9;/*字体颜色*/
    font-size: 12px;/*字体大小*/
}

.cjzh{/*邮箱区域*/
    width: 430px;/*宽*/
    height: 42px;/*高*/
    border: none;/*去除边框*/
    outline: none;/*去除发光边框*/
    border-radius: 5px;/*圆角*/
    margin-top: 26px;/*上边距*/
    background-color: #eff0f4;/*背景色*/
}


.mihu{/*密码&创建账户*/
    font-size: 0px;/*零间距*/
}

.Field{
    width: 430px;/*宽*/
    height: 42px;/*高*/
    float: left;/*往左*/
    border: none;/*去除边框*/
    outline: none;/*去除发光边框*/
    border-radius: 5px;/*圆角*/
    margin-top: 10px;/*上边距*/
    background-color: #eff0f4;/*背景色*/
}


.mimak{/*密码 输入宽*/
    width: 205px;/*宽*/
    height: 42px;/*高*/
    float: left;/*往左*/
    border: none;/*去除边框*/
    outline: none;/*去除发光边框*/
    border-radius: 5px;/*圆角*/
    margin-top: 10px;/*上边距*/
    background-color: #eff0f4;/*背景色*/
}



.cjzh{/*创建账户*/
    width: 205px;/*宽*/
    height: 42px;/*高*/
    float: right;/*往右*/
    color: white;/*字体颜色*/
    font-size: 12px;/*字体大小*/
    border: none;/*去除边框*/
    outline: none;/*去除发光边框*/
    border-radius: 5px;/*圆角*/
    margin: 50px 40px 0 0;/*外边距*/
    background-color: #1f5dea;/*背景色*/
}


#weibu{/*尾部*/
    font-size: 0px;/*零间距*/
}


.youyi{/*右边打钩*/
    font-size: 0px;/*零间距*/
    margin: 25px 0 0 40px;/*外边距*/
    display: inline-block;/*行块级*/
}


.gouyi{/*保持登录状态 打钩*/
    width: 22px;/*宽*/
    height: 22px;/*高*/
    color: white;/*icon 颜色*/
    line-height: 22px;/*居中*/
    text-align: center;/*水平居中*/
    border-radius: 50%;/*圆角*/
    display: inline-block;/*行块级*/
    background-color: #43cb83;/*背景色*/
}

.gou{/*打钩 一*/
    font-size: 8px;/*icon大小*/
}

.baoci{/*保持登录状态*/
    color: #4f5362;/*字体颜色*/
    font-size: 14px;/*字体大小*/
    margin-left: 13px;/*左边距*/
}

.youer{/*左边打钩*/
    font-size: 0px;/*零间距*/
    margin: 40px 0 0 108px;/*外边距*/
    display: inline-block;/*行块级*/
}
/*大圆角矩形样式 结束*/




/*小圆角矩形样式 开始*/

#xiao{/*小圆角矩形*/
    width: 260px;/*宽*/
    height: 146px;/*高*/
    top: 489px;/*上*/
    left: 130px;/*左*/
    bottom: 152px;/*下*/
    position: absolute;/*绝对路径*/
    border-radius: 10px;/*圆角*/
    background-size: cover;/*banner大小*/
    background-image:url(../img/banner2.jpg);/*banner2*/
    box-shadow: 0px 29px 62px #000000;/*投影*/

    -webkit-box-shadow: 0 29px 62px rgba(0,0,0,0.62);/*苹果 谷歌*/
    -moz-box-shadow: 0 29px 62px rgba(0,0,0,0.62);/*火狐*/
    -o-box-shadow: 0 29px 62px rgba(0,0,0,0.62);/*浏览器*/
    -ms-box-shadow: 0 29px 62px rgba(0,0,0,0.62);/*浏览器*/
}

.bofang{/*播放底层*/
    width: 50px;/*宽*/
    height: 50px;/*高*/
    color: white;/*icon颜色*/
    border: none;/*取消边框*/
    outline: none;/*去除发光边框*/
    border-radius: 100%;/*圆角*/
    margin: 48px 0 0 105px;/*外边距*/
    background: rgba(0,0,0,0.7);/*不透明度*/
}
/*小圆角矩形样式 结束*/










